#import(methods)
#import(utils)

#importFrom(stats4,optim)

#export(scaleTable,scaleMatrix)

## From WOE package
export(colorspread)

## From CPT Tools
export(numericPart,factorPart,dputToString,dgetFromString)
S3method(median,ordered)

## From matSweep
export(matSweep,revSweep,orthoInvert,matASM,matMST,SSX)

## From BQreg
export(BQreg,EbuildT,TBQ)




